@import "../../scss/_variables.scss";

a.button, button {
  display: inline-flex;
  cursor: pointer;
  font-size: 16px;
  color: $white;
  padding: 14px 36px;
  border-radius: 3px;
  background-color: $red;
  text-decoration: none;
  border: 1px solid $red;
  margin: 0 14px 0 0;
  transition: background-color 0.4s ease-out, color 0.4s ease-out, border-color 0.4s ease-out;

  &:last-child {
    margin-right: 0;
  }

  @media (hover: hover) {
    &:hover {
      background-color: $black;
    }
  }

  &.counter-button {
    cursor: pointer;
    background-color: transparent;
    color: $dark-grey;
    font-weight: 700;
    text-align: center;
    display: flex;
    align-self: center;
    @media (hover: hover) {
      &:hover {
        background-color: $red;
        color: $white;
      }
    }
  }
  &.button-quantity{
    background-color: transparent;
    border: none;
    display: flex;
    padding: 5px;
    margin: 0;
    svg{
      max-width: 32px;
      max-height: 32px;
      fill: rgba($black, 0.6);
      transition: fill 0.3s linear;
    }
    @media (hover:hover) {
      &:hover{
        svg{
          fill: $black;
        }
      }
    }
  }

  &.more-details{
    cursor: pointer;
    background-color: transparent;
    color: $black;
    font-weight: 700;
    text-align: center;
    display: flex;
    align-self: center;
    padding: 12px 18px;
    font-size: 14px;
    border-radius: 40px;
    border: 1px solid $black;
    @media (hover: hover) {
        &:hover{
          background-color: $orange;
          color: $white;
          border-color: $orange;
        }
    }
    &.refetch{
      margin-left: auto;
    }
  }
}