@import "../../scss/variables";
.header {
  display: flex;
  position: fixed;
  width: 100%;
  justify-content: center;
  background: rgba(0,0,0,1);
  z-index: 2;
  padding-bottom: 5px;
  &-container{
    position: relative;
    z-index: 4;
    max-width: 1360px;
    width: 100%;
    padding: 0 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    color: $white;
    border-bottom-left-radius: 6px ;
    border-bottom-right-radius: 6px ;
    transition: background-color 0.4s linear, color 0.3s linear,box-shadow 0.3s linear;
    &:after {
      content: "";
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
      backdrop-filter: blur(10px);
      opacity: 0;
      transition: opacity 0.3s 0s ease-out;
      border-bottom-left-radius: 6px ;
      border-bottom-right-radius: 6px
    }
  }
  .custom-logo{
    position: relative;
    z-index: 2;
    padding: 25px 0;
    svg g{
      fill: $white;
      transition: fill 0.3s linear;
    }
  }
  &.is-sticky {
    background-color: transparent;
    .header-container{
      background: rgba(255,255,255,.5);
      color: rgba($black,1);
      box-shadow: rgba(0, 0, 0, 0) 0 0 0 0, rgba(0, 0, 0, 0) 0 0 0 0, rgba(0, 0, 0, 0.1) 0 1px 3px 0, rgba(0, 0, 0, 0.1) 0 1px 2px -1px;
      .custom-logo svg g{
        fill: #1c1c1c;
      }
      &:after{
        opacity: 1;
      }
    }
  }
}