@import "variables";


.color-white {
  color: $white;
}

.fw {
  &-700 {
    font-weight: 700;
  }

  &-500 {
    font-weight: 500;
  }

  &-300 {
    font-weight: 300;
  }

  &-100 {
    font-weight: 100;
  }
}


h1, h2, h3, h4, h5 {
  margin-top: 0;
  margin-bottom: 0;

  &.mb-0 {
    margin-bottom: 0;
  }
}

a {
  text-decoration: none;
  color: inherit;
}

h1, .h1, {
  user-select: none;
  line-height: 1.2;
  margin: 0 auto;
  font-weight: 500;
  width: 100%;
  font-size: 64px;
  @media screen and (max-width: $breakpoint-lg) {
    font-size: 54px;
  }
  @media screen and (max-width: $breakpoint-md) {
    font-size: 48px;
  }
}

h2, .h2 {
  font-size: 48px;
  font-weight: 500;
  line-height: 1.3;

  @media screen and (max-width: $breakpoint-lg) {
    font-size: 38px;
  }
  @media screen and (max-width: $breakpoint-sm) {
    font-size: 32px;
  }
}

h3, .h3 {
  font-size: 36px;
  font-weight: 500;
  line-height: 1.2;
  @media screen and (max-width: $breakpoint-lg) {
    font-size: 28px;
  }

  @media screen and (max-width: $breakpoint-sm) {
    font-size: 26px;
  }

}

h4, .h4 {
  font-size: 28px;
  font-weight: 500;
  line-height: 1.3;
  @media screen and (max-width: $breakpoint-lg) {
    font-size: 26px;
  }
  @media screen and (max-width: $breakpoint-sm) {
    font-size: 22px;
    line-height: 1.25;
  }
}

h5, .h5 {
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 1.5;

  @media screen and (max-width: $breakpoint-md) {
    font-size: 18px;
  }
}

.caption {
  text-transform: uppercase;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
}

.text-center{
  text-align: center;
}