$ff-main: Montserrat;
$white: #fff;
$black: #000;
$red: #a3181d;
$dark-grey: #232323;
$grey: #909090;
$orange: #ff5700;
$danger-color : #e5291b;

$desktop-min-height: 1024px;
$breakpoint-xl : 1200px;
$breakpoint-lg : 992px;
$breakpoint-md : 768px;
$breakpoint-sm : 576px;